@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* { margin: 0; padding: 0; font-family: "Roboto", sans-serif; }

*::selection { background-color: #e39017; color: #191919; }

body { min-height: 100vh; background-color: #191919; font-size: 16px; max-width: 1400px; margin: 0 auto; }

body .container { width: 100%; min-height: 100vh; }

a { text-decoration: none; }

header .navbar { position: relative; display: flex; align-items: center; justify-content: space-between; padding: 20px 55px; }

@media (max-width: 550px) { header .navbar { padding: 20px 25px; } }

header .navbar-item:nth-child(1) h1 a { font-size: 1.2em; color: #e39017; letter-spacing: 1px; display: flex; align-items: center; justify-content: center; }

header .navbar-item:nth-child(1) h1 a span { color: #ffffff; }

header .navbar-item:nth-child(1) h1 a ion-icon { font-size: 1.2em; }

header .navbar-item:nth-child(2) .nav-center { display: flex; align-items: center; justify-content: center; list-style: none; }

@media (max-width: 600px) { header .navbar-item:nth-child(2) .nav-center { display: none; } }

header .navbar-item:nth-child(2) .nav-center-item { margin: 0 20px; }

header .navbar-item:nth-child(2) .nav-center-link { padding: 5px 10px; font-size: 0.8em; color: rgba(255, 255, 255, 0.8); transition: all 0.2s; }

header .navbar-item:nth-child(2) .nav-center-link:hover { color: white; text-decoration: underline; }

header .navbar-item:last-child input { position: absolute; }

header .navbar-item:last-child input:checked ~ div.manu-icon label span:nth-child(1) { width: 40%; top: 8px; right: 6px; transform: rotate(-15deg); }

header .navbar-item:last-child input:checked ~ div.manu-icon label span:nth-child(2) { width: 75%; top: 14px; right: 4px; transform: rotate(-45deg); }

header .navbar-item:last-child input:checked ~ div.manu-icon label span:nth-child(3) { width: 40%; bottom: 15px; right: 3px; transform: rotate(105deg); }

header .navbar-item:last-child input:checked ~ div.menu-left { left: 0vw; }

header .navbar-item:last-child .manu-icon { position: absolute; top: 20px; right: 55px; width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; }

@media (max-width: 550px) { header .navbar-item:last-child .manu-icon { right: 25px; } }

header .navbar-item:last-child .manu-icon label { position: relative; width: 30px; height: 30px; border-radius: 50%; border: 2px solid #e39017; background-color: rgba(255, 255, 255, 0.8); display: flex; align-items: center; justify-content: center; flex-direction: column; }

header .navbar-item:last-child .manu-icon label span { position: absolute; height: 2px; background-color: #e39017; transition: all 0.4s; }

header .navbar-item:last-child .manu-icon label span:nth-child(1) { width: 30%; top: 9px; right: 5px; }

header .navbar-item:last-child .manu-icon label span:nth-child(2) { width: 60%; right: 5px; }

header .navbar-item:last-child .manu-icon label span:nth-child(3) { width: 50%; bottom: 9px; right: 5px; }

header .navbar-item:last-child .menu-left { position: fixed; top: 0; left: -45vw; width: 35vw; height: 100vh; padding: 100px 10px; z-index: 10000000; background-color: #262626; border-right: 1px dotted #e39017; text-align: center; transition: all 0.5s; transition-timing-function: linear; }

@media (max-width: 550px) { header .navbar-item:last-child .menu-left { width: 45vw; left: -55vw; } }

header .navbar-item:last-child .menu-left .navbar-item { display: flex; align-items: center; justify-content: center; }

header .navbar-item:last-child .menu-left .navbar-item h1 a { font-size: 1.5em; }

header .navbar-item:last-child .menu-left .navbar-left { display: flex; align-items: center; justify-content: center; flex-direction: column; margin-top: 10px; }

header .navbar-item:last-child .menu-left .navbar-left-item { width: 80%; display: flex; align-items: center; justify-content: center; list-style: none; margin: 30px 0; }

header .navbar-item:last-child .menu-left .navbar-left-item:nth-last-child(1), header .navbar-item:last-child .menu-left .navbar-left-item:nth-last-child(2), header .navbar-item:last-child .menu-left .navbar-left-item:nth-last-child(3) { display: none; }

@media (max-width: 600px) { header .navbar-item:last-child .menu-left .navbar-left-item:nth-last-child(1), header .navbar-item:last-child .menu-left .navbar-left-item:nth-last-child(2), header .navbar-item:last-child .menu-left .navbar-left-item:nth-last-child(3) { display: flex; } }

header .navbar-item:last-child .menu-left .navbar-left-link { display: block; width: 80%; padding: 10px 20px; border: 1px dashed aliceblue; color: #e39017; border-radius: 5px; transition: all 0.2s; }

header .navbar-item:last-child .menu-left .navbar-left-link:hover { transform: translatey(-1px); background-color: #191919; border: 1px dashed #e39017; }

.contents { position: relative; display: flex; align-items: center; justify-content: center; }

.contents main { width: 45%; padding: 50px 20px; }

@media (max-width: 600px) { .contents main { width: 80%; margin: 0 auto; display: flex; align-items: center; justify-content: center; flex-direction: column; } }

.contents main .after { position: absolute; top: 10%; left: 2%; display: flex; align-items: center; justify-content: center; }

.contents main .after-line, .contents main .before-line { width: 70px; height: 1px; background-color: #ffffff; margin-right: 5px; }

@media (max-width: 600px) { .contents main .after-line, .contents main .before-line { width: 150px; } }

.contents main .after a { color: #e39017; }

.contents main .before { position: absolute; bottom: 0%; left: 2%; display: flex; align-items: center; justify-content: center; }

.contents main .before-line { background-color: #e39017; }

.contents main .before a { color: #e39017; }

.contents main article { padding: 50px 0; padding-left: 15%; }

@media (max-width: 600px) { .contents main article { display: flex; align-items: center; justify-content: center; flex-direction: column; } }

.contents main article h1 { color: #e6e6e6; font-size: 3em; }

.contents main article h1 span { color: #e39017; }

@media (max-width: 430px) { .contents main article h1 { font-size: 2em; } }

.contents main article p { color: #cccccc; }

.contents main article button { all: unset; margin-top: 20px; padding: 10px 15px; border: 1px solid #e39017; color: #e39017; border-radius: 5px; cursor: pointer; transition: all 0.4s; }

@media (max-width: 600px) { .contents main article button { padding: 10px 55px; } }

.contents main article button:hover { border: 1px solid #191919; color: #191919; background-color: #e39017; }

.contents aside { position: relative; margin-top: 30px; width: 55%; height: 60vh; }

@media (max-width: 600px) { .contents aside { display: none; } }

.contents aside span { display: flex; align-items: center; justify-content: center; position: absolute; border-radius: 200px; overflow: hidden; border: 2px solid #e39017; }

.contents aside span:first-child { top: 15%; right: 15%; z-index: 2; }

@media (max-width: 840px) { .contents aside span:first-child { top: 12%; right: 10%; width: 100px; height: 200px; } }

.contents aside span:nth-child(2) { right: 30%; top: 0; }

@media (max-width: 840px) { .contents aside span:nth-child(2) { width: 150px; height: 400px; } }

.contents aside span:nth-child(3) { top: 45%; right: 55%; }

@media (max-width: 840px) { .contents aside span:nth-child(3) { right: 58%; top: 35%; width: 100px; height: 200px; } }

.contents aside span:last-child { display: flex; align-items: center; justify-content: center; }

@media (max-width: 1000px) { .contents aside span:last-child { width: 90px; height: 90px; } }

footer { margin-top: 20px; }

footer .navbar-footer { padding: 10px; }

footer .navbar-footer .nav { width: 90%; margin: 0 auto; display: grid; grid-template-columns: repeat(4, 25%); list-style: none; }

@media (max-width: 895px) { footer .navbar-footer .nav { width: 95%; } }

@media (max-width: 850px) { footer .navbar-footer .nav { width: 100%; } }

@media (max-width: 710px) { footer .navbar-footer .nav { grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 360px) { footer .navbar-footer .nav { grid-template-columns: 1fr; width: 90%; } }

footer .navbar-footer .nav-item { margin: 10px 20px; }

@media (max-width: 360px) { footer .navbar-footer .nav-item { margin: 20px; } }

footer .navbar-footer .nav-link { display: flex; align-items: center; justify-content: center; flex-direction: column; color: #e39017; padding: 50px 10px; border: 2px solid #e39017; border-left: none; border-bottom: none; border-radius: 25px; }

@media (max-width: 750px) { footer .navbar-footer .nav-link { padding: 30px 5px; } }

@media (max-width: 710px) { footer .navbar-footer .nav-link { padding: 50px 10px; } }

@media (max-width: 430px) { footer .navbar-footer .nav-link { border-width: 1px; padding: 30px 10px; } }

@media (max-width: 360px) { footer .navbar-footer .nav-link { padding: 10px 5px; } }

footer .navbar-footer .nav-link ion-icon { font-size: 2em; margin-bottom: 10px; color: #bfbfbf; }

@media (max-width: 430px) { footer .navbar-footer .nav-link ion-icon { font-size: 1.5em; } }

footer .navbar-footer .nav-link p { letter-spacing: 1px; }

@media (max-width: 850px) { footer .navbar-footer .nav-link p { letter-spacing: 0px; } }

@media (max-width: 430px) { footer .navbar-footer .nav-link p { font-size: 0.9em; } }
/*# sourceMappingURL=main.css.map */