@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

$color-primary: #191919;
$color-secondary: #e39017;
$color-white: #ffffff;

$font-Roboto: "Roboto", sans-serif;

@mixin flex($j: center) {
  display: flex;
  align-items: center;
  justify-content: $j;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font-Roboto;

  &::selection {
    background-color: $color-secondary;
    color: $color-primary;
  }
}

body {
  min-height: 100vh;
  background-color: $color-primary;
  font-size: 16px;
  max-width: 1400px;
  margin: 0 auto;
  .container {
    width: 100%;
    min-height: 100vh;
  }
}

a {
  text-decoration: none;
}
