@import "base";

header {
  .navbar {
    position: relative;
    @include flex(space-between);
    padding: 20px 55px;
    @media (max-width: 550px) {
      padding: 20px 25px;
    }

    &-item:nth-child(1) {
      h1 {
        a {
          font-size: 1.2em;
          color: $color-secondary;
          letter-spacing: 1px;
          @include flex;

          span {
            color: $color-white;
          }
          ion-icon {
            font-size: 1.2em;
          }
        }
      }
    }
    &-item:nth-child(2) {
      .nav-center {
        @include flex;
        list-style: none;
        @media (max-width: 600px) {
          display: none;
        }
        &-item {
          margin: 0 20px;
        }
        &-link {
          padding: 5px 10px;
          font-size: 0.8em;
          color: transparentize($color-white, 0.2);
          transition: all 0.2s;

          &:hover {
            color: transparentize($color-white, 0);
            text-decoration: underline;
          }
        }
      }
    }
    &-item:last-child {
      input {
        position: absolute;

        &:checked ~ div.manu-icon label span:nth-child(1) {
          width: 40%;
          top: 8px;
          right: 6px;
          transform: rotate(-15deg);
        }
        &:checked ~ div.manu-icon label span:nth-child(2) {
          width: 75%;
          top: 14px;
          right: 4px;
          transform: rotate(-45deg);
        }
        &:checked ~ div.manu-icon label span:nth-child(3) {
          width: 40%;
          bottom: 15px;
          right: 3px;
          transform: rotate(105deg);
        }
        &:checked ~ div.menu-left {
          left: 0vw;
        }
      }
      .manu-icon {
        position: absolute;
        top: 20px;
        right: 55px;
        width: 30px;
        height: 30px;
        @include flex;
        @media (max-width: 550px) {
          right: 25px;
        }
        label {
          position: relative;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 2px solid $color-secondary;
          background-color: transparentize($color-white, 0.2);
          @include flex;
          flex-direction: column;
          span {
            position: absolute;
            height: 2px;
            background-color: $color-secondary;
            transition: all 0.4s;
            &:nth-child(1) {
              width: 30%;
              top: 9px;
              right: 5px;
            }
            &:nth-child(2) {
              width: 60%;
              right: 5px;
            }
            &:nth-child(3) {
              width: 50%;
              bottom: 9px;
              right: 5px;
            }
          }
        }
      }
      .menu-left {
        position: fixed;
        top: 0;
        left: -45vw;
        width: 35vw;
        height: 100vh;
        padding: 100px 10px;
        z-index: 10000000;
        background-color: lighten($color-primary, 5);
        border-right: 1px dotted $color-secondary;
        text-align: center;
        transition: all 0.8s;
        transition-timing-function: linear;
        @media (max-width: 550px) {
          width: 45vw;
          left: -55vw;
        }
        .navbar-item {
          @include flex;
          h1 {
            a {
              font-size: 1.5em;
            }
          }
        }

        .navbar-left {
          @include flex;
          flex-direction: column;
          margin-top: 10px;
          &-item {
            width: 80%;
            @include flex;

            list-style: none;
            margin: 30px 0;
            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3) {
              display: none;
              @media (max-width: 600px) {
                display: flex;
              }
            }
          }
          &-link {
            display: block;
            width: 80%;
            padding: 10px 20px;
            border: 1px dashed aliceblue;
            color: $color-secondary;
            border-radius: 5px;
            transition: all 0.2s;

            &:hover {
              transform: translatey(-1px);
              background-color: $color-primary;
              border: 1px dashed $color-secondary;
            }
          }
        }
      }
    }
  }
}

.contents {
  position: relative;
  @include flex;

  main {
    width: 45%;
    padding: 50px 20px;
    @media (max-width: 600px) {
      width: 80%;
      margin: 0 auto;
      @include flex;
      flex-direction: column;
    }
    .after {
      position: absolute;
      top: 10%;
      left: 2%;
      @include flex;
      &-line {
        width: 70px;
        height: 1px;
        background-color: $color-white;
        margin-right: 5px;
        @media (max-width: 600px) {
          width: 150px;
        }
      }
      a {
        color: $color-secondary;
      }
    }
    .before {
      position: absolute;
      bottom: 0%;
      left: 2%;
      @include flex;
      &-line {
        @extend .after-line;
        background-color: $color-secondary;
      }
      a {
        color: $color-secondary;
      }
    }
    article {
      padding: 50px 0;
      padding-left: 15%;
      @media (max-width: 600px) {
        @include flex;
        flex-direction: column;
      }
      h1 {
        color: darken($color-white, $amount: 10);
        font-size: 3em;
        span {
          color: $color-secondary;
        }
      }
      p {
        color: darken($color-white, 20);
      }
      button {
        all: unset;
        margin-top: 20px;
        padding: 10px 15px;
        border: 1px solid $color-secondary;
        color: $color-secondary;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.4s;

        @media (max-width: 600px) {
          padding: 10px 55px;
        }

        &:hover {
          border: 1px solid $color-primary;
          color: $color-primary;
          background-color: $color-secondary;
        }
      }
    }
  }
  aside {
    position: relative;
    margin-top: 30px;
    width: 55%;
    height: 60vh;
    @media (max-width: 600px) {
      display: none;
    }
    span {
      @include flex;
      position: absolute;
      border-radius: 200px;
      overflow: hidden;
      border: 2px solid $color-secondary;
      &:first-child {
        top: 15%;
        right: 15%;
        z-index: 2;
        @media (max-width: 840px) {
          top: 12%;
          right: 10%;
          width: 100px;
          height: 200px;
        }
      }
      &:nth-child(2) {
        right: 30%;
        top: 0;
        @media (max-width: 840px) {
          width: 150px;
          height: 400px;
        }
      }
      &:nth-child(3) {
        top: 45%;
        right: 55%;
        @media (max-width: 840px) {
          right: 58%;
          top: 35%;
          width: 100px;
          height: 200px;
        }
      }
      &:last-child {
        @include flex;
        @media (max-width: 1000px) {
          width: 90px;
          height: 90px;
        }
      }
    }
  }
}

footer {
  margin-top: 20px;
  .navbar-footer {
    padding: 10px;
    .nav {
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      list-style: none;
      &-item {
        margin: 10px 20px;
      }
      &-link {
        @include flex;
        flex-direction: column;
        color: $color-secondary;
        padding: 50px 10px;
        border: 2px solid $color-secondary;
        border-left: none;
        border-bottom: none;
        border-radius: 25px;

        ion-icon {
          font-size: 2em;
          margin-bottom: 10px;
          color: darken($color-white, $amount: 25);
        }
        p {
          letter-spacing: 1px;
        }
      }
    }
  }
}
